<article>
    <div class="align-items-center d-flex flex-column mb-0">
        {{ partial "paige/metadata.html" . }}
        {{ partial "paige/toc.html" . }}
        {{ partial "paige/content.html" . }}
        {{ if and .Lastmod .Params.show_lastmod }}
        <p class="text-center text-secondary">
            <small>
                Last modified: <time datetime="{{ .Lastmod.Format `2006-01-02` }}">{{ time.Format (site.Params.date_format | default ":date_long") .Lastmod }}</time>
            </small>
        </p>
        {{ end }}
    </div>
</article>
