{{ if .Pages }}
    {{ if .Params.paige.show_full_pages }}
        {{ $p := .Paginate .Pages }}
        <section>
            {{ range $p.Pages }}
                {{ .Scratch.Set "paige_show_full_pages" true }}
                {{ partial "paige/article.html" . }}
            {{ end }}
        </section>
        {{ if or $p.HasPrev $p.HasNext }}
            <section>
                <div class="d-flex justify-content-center">
                    {{ partial "paige/pagination.html" . }}
                </div>
            </section>
        {{ end }}
    {{ else }}
        {{ $p := .Paginate (.Pages.ByDate.Reverse.GroupByDate "January 2006") }}
        <section>
            {{ range $p.PageGroups }}
                <h2 class="text-center">{{ .Key }}</h3>
                {{ range .Pages }}
                    {{ $term_icon := partial "paige/func-term-icons.html" . }}
                    {{ $title_classes := partial "paige/func-title-classes.html" . }}
                    <h3 class="text-center mb-1 {{- $title_classes }}">
                        {{ if $term_icon }}<i class="bi {{ $term_icon }}"> </i>{{ end }}<span><a class="link-primary" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></span></h5>
                    {{ partial "paige/other.html" . }}
                    <div class="d-flex justify-content-center">
                        {{ .Summary }}
                    </div>
                {{ end }}
            {{ end }}
        </section>
        {{ if or $p.HasPrev $p.HasNext }}
            <section>
                <div class="d-flex justify-content-center">
                    {{ partial "paige/pagination.html" . }}
                </div>
            </section>
        {{ end }}
    {{ end }}
{{ end }}
